# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
crash.*.log

# Ansible
ansible/inventory/hosts.yml
*.retry

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
.env

# IDE
.vscode/
.idea/
.DS_Store
